.button__add {
  background-image: url("../../../images/add_button.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
}